# Node modules
node_modules/

# Fichiers de build
build/
dist/

# Fichiers de logs
*.log

# Fichiers d'environnement
.env

# Cache
.cache/
.next/

# Fichiers de dépendances locales
.pnp.js
.pnp/

# Dossier des coverage (tests)
coverage/

# Fichiers système ou d'éditeurs
.DS_Store
.vscode/
.idea/
